In [15]:
import numpy as np
import pandas as pd

In [25]:
#Che tipo di struttura dati o matematica potrebbe rappresentare? Notare che tutte le liste "interne" 
#sono della stessa dimensione? io l'ho interpretata come un DataFrame
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
mat_dataframe = pd.DataFrame ({'colonna1':[0, 1, 2, 3, 4], 'colonna2': [5, 6, 7, 8, 9], 'colonna3':[10, 11, 12, 13, 14]}, index=list('abcde'))
print(mat_dataframe)

   colonna1  colonna2  colonna3
a         0         5        10
b         1         6        11
c         2         7        12
d         3         8        13
e         4         9        14

In [41]:
print(mat_dataframe['colonna2']) #richiamo la chiave per visualizzare il suo valore

a    5
b    6
c    7
d    8
e    9
Name: colonna2, dtype: int64

In [65]:
#Come facciamo per accedere ad un elemento in particolare?
#creiamo una variabile per richiamare la riga ctramite il proprio indice
riga_c= mat_dataframe.loc['c'] #.loc serve per bloccare una riga in una tabella
print(riga_c)

colonna1     2
colonna2     7
colonna3    12
Name: c, dtype: int64

In [69]:
#Come facciamo per accedere ad un elemento in particolare?
print(mat_dataframe.loc['c','colonna3']) #richiamare riga poi colonna

12

In [83]:
#ultime tre righe della colonna3 #richiamo le righe e le colonne
print(mat_dataframe.loc['c':'e', 'colonna2':'colonna3'])

   colonna2  colonna3
c         7        12
d         8        13
e         9        14

In [89]:
print(mat_dataframe.loc['a':'e', 'colonna1':'colonna3'])

   colonna1  colonna2  colonna3
a         0         5        10
b         1         6        11
c         2         7        12
d         3         8        13
e         4         9        14

In [111]:
print(mat_dataframe.iloc[-3:,1]) #.iloc ti prende la posizione della riga

c    7
d    8
Name: colonna2, dtype: int64

In [113]:
import math

In [148]:
#Importiamo il modulo math e proviamo a usare le funzioni
numero=10
radianti = math.radians(numero)
math.sin(radianti) #seno

0.17364817766693033

In [146]:
numero=10
radianti = math.radians(numero)
math.cos(radianti) #coseno

0.984807753012208

In [127]:
math.factorial(10) #fattoriale

3628800

In [152]:
round(math.pi,2)  #pigreco

3.14

In [160]:
help(math.degrees)
x=10
math.degrees(math.pi)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

180.0

In [111]:
#esercizio 5
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
vendite=np.array(lst)
print(vendite)

[2000 5500 7200 4320 1280 1900 2500 3900 6410 8150 7100 5350]

In [113]:
# qual Ã¨ stata la vendita massima mensile? E quella minima?
print('vendita_min:',vendite.min()) #vendita minima
print('vendita_max:',vendite.max()) #vendita massima

vendita_min: 1280
vendita_max: 8150

In [115]:
# quali sono le vendite mensili maggiori di 4999 oggetti? E quante ne sono?
for vendita in vendite:
    if vendita > 4999:
       print('vendite maggiori di:', vendita)

num_vendite = vendite > 4999 #ho dato un valore alle vendite minori di 4999
somma = num_vendite.sum()   #ho sommato i valori minori di 4999
print('numeri vendite:',somma)

vendite maggiori di: 5500
vendite maggiori di: 7200
vendite maggiori di: 6410
vendite maggiori di: 8150
vendite maggiori di: 7100
vendite maggiori di: 5350
numeri vendite: 6

In [117]:
# quali sono le vendite minori di 3000 oggetti?
for vendita in vendite:
    if vendita < 3000:
        print('vendite minori di 3000 oggetti:', vendita)

vendite minori di 3000 oggetti: 2000
vendite minori di 3000 oggetti: 1280
vendite minori di 3000 oggetti: 1900
vendite minori di 3000 oggetti: 2500

In [119]:
somma= vendite.sum()     #media vendite mensili (sommare le vendite di ogni mese e dividere per dodici)
media=somma/12
print('media mensile:',media)

media mensile: 4634.166666666667

In [121]:
vendite.mean() #questa formula semplifica il passaggio sopra!

4634.166666666667

In [123]:
# se richiami una serie di indici con l'indice assegnato da te non toglie l'ultima cifra, 
# se invece richiami una serie di indici numerici di posizionamento effettua lo slicing e ti elimina 
# l'ultima cifra
lista= pd.Series([1,2,3,4,5,6], index=list('abcdef'))
print(lista)
lista['a':'c'] #indici dati da me
lista[2:5] #indici di posizione numerica
#vanno mandati separatamente e non tutti insieme altrimenti di darÃ  solo un risultato!

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

c    3
d    4
e    5
dtype: int64

In [12]:
import pandas as pd
eta= pd.Series([24,30,29], index=['sofia','fabri','aida'])
eta['fabri']

30

In [19]:
# Consideriamo il seguente dizionario: 
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000, 2000: 23_000, 2001: 25_000, 2002: 17_000, 2003: 14_000, 2004: 21_000}

# Consideriamo ora la seguente Series: 
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000], index=range(1997, 2005))

# Possiamo accedere alle stesse informazioni nello stesso modo:
fatturati_dict[1997] 
fatturati_series[1997]

# Dunque qual Ã¨ la differenza tra i due tipi di dato?
#RISPOSTA: abbiamo una series(molto piÃ¹ complessa e malleabile) e un dizionario(semplice anche se efficacie).
# entrambi hanno una chiave alla quale Ã¨ associato un valore, nella series si chiama indice, la scegliamo noi ed Ã¨ molto piÃ¹ potente

# Cosa potremmo fare con la Series che non possiamo fare con il dizionario?
#nelle series ad esempio, potremmo eseguire calcoli per ogni valore in una sola volta, invece sui dizionari dovremmo eseguire
# calcoli con un ciclo while o for

12000

In [53]:
# L'azienda Object SpA ha un dataset con tutti gli stipendi dei dipendenti, memorizzato in un ndarray: 
import numpy as np 
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] ) 
# L'azienda ci chiede di raddoppiare tutti gli stipendi; facciamolo in due modi: 
# â¢ con un ciclo for 
for stipendio in stipendi:
    stipendio *= 2
    print(f'lo stipendio raddoppiato Ã¨:',stipendio)
# â¢ con il masking
stipendy =[stipendi*2] #sull'array devo creare una variabile, contenente il filtro data la condizione che voglio dare
print(f'gli stipendi raddoppiati sono',stipendy)

lo stipendio raddoppiato Ã¨: 200
lo stipendio raddoppiato Ã¨: 400
lo stipendio raddoppiato Ã¨: 600
lo stipendio raddoppiato Ã¨: 800
lo stipendio raddoppiato Ã¨: 1000
lo stipendio raddoppiato Ã¨: 1200
lo stipendio raddoppiato Ã¨: 1400
lo stipendio raddoppiato Ã¨: 1600
lo stipendio raddoppiato Ã¨: 1800
lo stipendio raddoppiato Ã¨: 2000
gli stipendi raddoppiati sono [array([ 200,  400,  600,  800, 1000, 1200, 1400, 1600, 1800, 2000])]