In [1]:
#Abbiamo 25 studenti; memorizzare questo dato in una variabile.
studenti=25

In [5]:
#Abbiamo 25 studenti; memorizzare questo dato in una variabile e stamparla a video.
print(studenti)

25

In [38]:
#Arrivano altri 3 studenti; memorizzare questo dato in un'altra variabile.
studenti_nuovi=3

In [49]:
#Creare un'altra variabile ancora che conterrà la somma delle prime due, poi stamparla a video.
tot_studenti = studenti+studenti_nuovi
print(tot_studenti)

28

In [55]:
#Creare una variabile che contiene la stringa "Epicode", quindi stamparla a video.
corso_online = "epicode"
print(corso_online)

epicode

In [59]:
#x = 10 Incrementarla di 2 e poi moltiplicarla per 3
x=10
x+2
12*3

36

In [61]:
#Usare due metodi diversi (ad esempio, uno utilizzando gli operatori di assegnazione, e uno senza)
x=10
y=2
xy=x+y
z=3
xy*z

36

In [73]:
#Verificare, per ognuna delle seguenti stringhe, 
#se il numero di caratteri è compreso tra 5 e 8: 
str1 = "Windows" 
str2 = "Excel" 
str3 = "Powerpoint" 
str4 = "Word"

print(5<=len(str1)<=8)
print(5<=len(str2)<=8)
print(5<=len(str3)<=8)
print(5<=len(str4)<=8)

True
True
False
False

In [77]:
#Calcolare e stampare a video quanti secondi ci sono in un anno non bisestile.
secondi_anno_non_bisestile=60*60*24*365
print(secondi_anno_non_bisestile)

31536000

In [87]:
my_string = "I am studying Python"
MAIUSC= str.upper(my_string)
MINUSC=str.lower(my_string)
REPLACE=str.replace(my_string,'Python','a lot')

print(MAIUSC)
print(MINUSC)
print(REPLACE)

I AM STUDYING PYTHON
i am studying python
I am studying a lot